<html>
    <head>
      <title>ivolong.co.uk</title>
      <link rel="icon" type="image/png" href="/images/favicon.png">
      <meta name="og:image" content="/images/favicon.png">
      <meta name="description" content="Something">
      <meta name="keywords" value="Something else">
      <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        This website is running an experimental {{ framework }} framework which you can view <a href="https://github.com/ivolong/bMVC.js" target="_blank">here</a>.
    </body>
</html>
