<html>
    <head>
        <title>{{ APP_NAME }}</title>
        <link rel="icon" type="image/png" href="/images/favicon.png">
        <meta name="og:image" content="/images/favicon.png">
        <meta name="description" content="Something">
        <meta name="keywords" value="Something else">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <p>go away im experimenting</p>
        <p>{{ APP_URL }} is running an nodejs mvc framework that im making</p>
        <p>you can view it on github</p>
        <p><a href="https://github.com/ivolong/laraBel.js" target="_blank">lara🅱️el.js</a>
    </body>
</html>
